<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>View / Edit Assignment</h2>

  <form action="/delete-post/<%= data.title %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn" />
  </form>
</div>

<form action="/edit-post/<%= data.title %>?_method=PUT" method="POST">
  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="G12345A" name="title" value="<%= data.title %>"/>

  <label for="author"><b>Requested by</b></label>
  <input type="text" name="author" value="<%= data.author %>"/>

  <label for="hours"><b>Hours</b></label>
  <input type="text" placeholder="1.5 Hr, 1x A Week" name="hours" value="<%= data.hours %>" />

  <label for="body"><b>Content</b></label>
  <textarea
    name="body"
    cols="50"
    rows="10"
    placeholder="Sec 3 NA Comb Bio/Chem (Presbyterian High Sch)"
  ><%= data.body %></textarea>

  <label for="location"><b>Location</b></label>
  <input type="text" placeholder="Belgravia Drive" name="location" value="<%= data.location %>"/>

  <label for="rates"><b>Rates</b></label>
  <input
    type="text"
    placeholder="$45-60/Hr (FT), $65-75/Hr Max (MOE)"
    name="rates"
    value="<%= data.rates %>"
  />

  <label for="gender"><b>Gender</b></label>
  <input type="text" placeholder="Male only" name="gender" value="<%= data.gender %>"/>

  <input type="submit" value="Edit" class="btn" />
</form>
