<div class="container">
  <img
    src="/img/smiletutor.jpg"
    alt="person looking out through window"
    width="700"
    height="400"
  />
  <h1><%= locals.title %></h1>
  <p><%= locals.description %></p>
</div>

<!-- Mass upload of data -->
<!-- <form action="/assignments" method="POST">
  <input type="submit" value="Upload"/>
</form> -->

<section class="articles">
  <h2 class="articles__heading">Latest Assignments</h2>

  <ul class="article-ul">
    <% data.forEach(assignment => { %>
    <li class="assignment__list">
      <a href="/assignments/<%= assignment.title %>">
        <div class="assignment__details">
          <span><%= assignment.title %></span>
          <span class="assignment__text">
            <%= assignment.createdAt.toDateString() %>
          </span>
          <span class="assignment__text">
            <%= assignment.body %> @ <%= assignment.location %>
          </span>
          <span class="assignment__text"> <%= assignment.rates %> </span>
          <span class="assignment__text"> <%= assignment.gender %> </span>
        </div>
        <a href="/apply/<%= assignment.title %>" class="btn">Apply now!</a>
      </a>
    </li>
    <% }) %>
  </ul>
</section>
